@charset "UTF-8";
/*
Plugin Name: 3CB-Roster
Plugin URI: https://github.com/Arma-developement/tcb-roster
Description: Design by Nick at Intention and Lifetap
Author: Nick "Badger" Hayward and Lifetap
Author URI: https://github.com/Arma-developement/tcb-roster
Version: 1.01
Tags: 
License: GPL3
License URI: https://www.gnu.org/licenses/gpl-3.0.html

Text Domain: tcb-roster

GitHub Plugin URI: Arma-developement/tcb-roster
Primary Branch: main

*/